---
---

@import 'bourbon/bourbon';
@import 'grid_settings';
@import 'neat/neat';
@import 'bitters/bitters';

body {
  background: $base-body-color;
}

#wrapper {
  @include outer-container();
  padding: 0 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
}

h2 {
  margin: 1.75em 0 1.25em;
  border-bottom: 2px solid black;
}

h4 {
  font-weight: normal;
}

ul {
  padding: 0;
  margin-left: -1em;
}

li>ul {
  margin-left: 0;
}

ul li:before {
  content: "-";
  left: -1em;
  position: absolute;
}


ul li {
  margin: 0 0 0.33333em 1em;
  position: relative;
}

a {
  border-bottom: 1px solid $base-link-color;

  &:hover {
    color: $base-font-color;
    border-bottom: 1px solid $yellow;
    box-shadow: inset 0 -3px 0 $yellow;
  }
}